<h1>LandingPage#index</h1>
<p>Find me in app/views/landing_page/index.html.erb</p>

<%= link_to "Chef List", chef_list_index_path %>
<%= link_to "News Feed", news_feed_index_path %>
<%= link_to "Register", temp_register_index_path %>